/* Universal */

body {
    background-color: black;
    color: white;
}

form {
    color: white;
}


/* Index.html */

.banner {
    margin: auto;
    text-align: center;
    padding: 2%;
}

.htmlimage {
    margin: auto;
    text-align: center;
}

.instructions {
    margin: auto;
    padding: 2%;
}


/* Quiz.html */

.wronganswers {
    overflow: auto;
}

.onlineusers {
    overflow: auto;
}

