<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        <title>RuPaul's Best Friend Race</title>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <header>
            
        </header>
        
        <!-- Welcome and instructions -->
        <div class="container-fluid banner">
            <img class="img-banner" src="{{url_for('static', filename='img/rupaullogo.jpg')}}" alt="Logo that says RuPaul's Best Friend Race">
        </div>
        
            {% block content %}
            {% endblock %}
            
    </body>
</html>