{% extends 'base.html' %} 
{% block content %}


<div class="container-fluid">
    
    
    <!--Welcome with username -->
    <div class="row">
        <div class="col-sm-12 text-center">
            <p>HIEEEEEE <span class="custom-name">{{ player_name }}</span> !</p>
        </div>
    </div>


    <!--Loads question and answer form-->
    <div class="row custom-row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            {{ questions[question_index]["question"] }}
        </div>
        <div class="col-sm-3">
            <form method="POST">
                <input type="text" placeholder="answer" name="player_response" id="player_response">
                <input type="hidden" name="question_index" id="question_index" value="{{ question_index }}">
                <input type="hidden" name="question_tries" id="question_tries" value="{{ question_tries }}">
                <input type="hidden" name="player_score" id="player_score" value="{{ player_score }}">
                <button class="btn-primary btn-send">send</button>
            </form>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    
    
    <!--Displays running points total and number of attempts-->
    <div class="row custom-row">
        <div class="col-sm-12 text-center">
            <p>Your score is: <span class="blue-text">{{ player_score }}</span>.</p>
            <p>Attempts at this question: <span class="blue-text">{{ question_tries }}</span>.</p>
        </div>
    </div>

    <!--List of last 5 online users, and last 5 wrong answers -->
    <div class="row custom-row text-center">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <span class="red-text">Recent wrong answers:</span><br>
            {% for answer in reversed_incorrect_answers %}
                {% if loop.index <= 10 %}
                    {{ answer }} <br>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <span class="red-text">Recent players:</span><br>
            {% for player in reversed_online_list %}
                {% if loop.index <= 10 %}
                    {{ player }} <br>
                {% endif %}
            {% endfor %}
        </div><br><br>
        <div class="col-sm-3">
        </div>
    </div>


</div>

{% endblock %}