{% extends 'base.html' %} 
{% block content %}


<div class="container-fluid">
    
    <!--Loads answer level-->
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6 text-center">
            <p>
                <span class="red-text">SASHAY AWAY!</span> With a score of <strong>{{ player_score }}</strong>, you do <span class="red-text">NOT</span> have what
                it takes to be RuPaul's best friend. Move over Willam, there's a new 
                frenemie in town!
            </p>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    
    
    <!--'Try Again' button-->
    <div class="row">
        <div class="col-sm-12 text-center">
            <button type="button" class="btn-primary">
                <a href="{{ url_for('index') }}">
                    Try again!
                </a>
            </button>
        </div>
    </div>
    
    
    <!--Loads high score board-->
    <div class="row custom-row high-score">
        <div class="col-sm-12 text-center">
            <p><h1 class="blue-text">HIGH SCORE</h1></p>
             <p>The current high score is held by <span class="red-text">{{ high_score_name }}</span> with a score of <span class="red-text">{{ high_score_score }}</span> </p>
        </div>
    </div>
    
</div>

{% endblock %}